/* Fondo del cielo */
.sky {
	background-color: #5a9ace;
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100%;
}

/* Estilos de las nubes */
.cloud {
	background-color: #FFFFFF;
	border-radius: 50%;
  box-shadow: 0px 0px 50px 30px #FFFFFF;
  height: 50px;
	position: absolute;
	width: 150px;
}

/* Posiciones y animaciones de las nubes */
.cloud:nth-of-type(1) {
	animation: moveCloud 20s linear infinite;
	left: -200px;
	top: 100px;
}

.cloud:nth-of-type(2) {
	animation: moveCloud 30s linear infinite;
	left: -150px;
	top: 200px;
}

.cloud:nth-of-type(3) {
	animation: moveCloud 25s linear infinite;
	left: 100px;
	top: 100px;
}

/* Animación de movimiento de las nubes */
@keyframes moveCloud {
	0% {
		transform: translateX(-200px);
	}
	100% {
		transform: translateX(2000px);
	}
}

body{
  text-align: center;
}

